# 忽略个人 idea 配置
.idea/

# 忽略 ca.crt 和 minikube-config
ca.crt
minikube-config

# 忽略 profiles 目录及其所有内容
profiles/


# 编译产物 / 可执行文件
kubectl-checkpods
*.exe
*.dll
*.so
*.dylib
*.bin
*.out
*.app